%gradient-main {
  background: linear-gradient(to right, #3c9ee7, #3d7be2, #3f59e1, #4222dd)
}

%gradient-second {
  background: linear-gradient(#fff, #F5F5F5)
}

$color-reset: #fff;
$color-default: #000;
$color-gray: #858585;
$color-extras: #bfbfbf;
$color-green: #6CC090;
$color-light: #3c9ee7;
$color-medium: #3d7be2;
$color-darker: #3f59e1;
$color-darkest: #4222dd;
$color-error: #ffa500;