$line-height: 1.5;

$main-font: 'NunitoSans';
$main-font-bold: 'NunitoSans-Bold';
$main-font-italic: 'NunitoSans-Italic';

@font-face {
  font-family: 'NunitoSans';
  src: url("../fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../fonts/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: 'NunitoSans-Italic';
  src: url("../fonts/NunitoSans-Italic.ttf");
}