.header__geometric--item {
  position: absolute;
  width: 120px;
  @media (max-width: 600px) {
    display: none;
  }
  &:nth-child(1) {
    width: 50px;
    top: 60px;
    right: 480px;
    transform: rotate(-12deg);
    @media (min-width: 1000px) and (max-width: 1030px) {
      top: 30px;
      right: 400px;
    }
    @media (max-width: 999px) {
      display: none;
    }
    .figure {
      fill: $color-reset;
    }
  }
  &:nth-child(2) {
    width: 70px;
    bottom: -40px;
    right: 370px;
    transform: rotate(-10deg);
    @media (max-width: 930px) {
      display: none;
    }
    .figure {
      fill: $color-darkest;
    }
  }
  &:nth-child(3) {
    width: 190px;
    top: 90px;
    right: 200px;
    transform: rotate(-10deg);
    @media (max-width: 910px) {
      display: none;
    }
    .figure {
      fill: $color-reset;
    }
  }
  &:nth-child(4) {
    width: 190px;
    top: 60px;
    right: 0;
    transform: rotate(-10deg);
    .figure {
      fill: #5151E5;
    }
  }
  &:nth-child(5) {
    width: 190px;
    top: 20px;
    right: -220px;
    transform: rotate(-10deg);
    .figure {
      fill: #4A34DF;
    }
  }
  &:nth-child(6) {
    width: 50px;
    bottom: 10px;
    right: 10px;
    .figure {
      fill:  $color-reset;
    }
  }
}

.intro__polygon {
  position: absolute;
  width: 74px;
  left: 50px;
  bottom: 20px;
  transform: rotate(-12deg);
  &--green{
    left: -10px;
    bottom: 90px;
    transform: rotate(-15deg);
  }
  .figure {
    position: relative;
    &--main-blue {
      fill: $color-darkest;
    }
    &--green {
      fill: $color-green;
    }
  }
}

.intro__triangle {
  position: absolute;
  width: 50px;
  top: 5px;
  left: 170px;
  transform: rotate(-40deg);
  @media (min-width: 937px) and (max-width: 1100px) {
    left: 220px;
  }
  .figure {
    fill: $color-light;
  }
}

.category__polygon {
  position: absolute;
  transform: rotate(-80deg);
  .figure {
    fill: $color-darkest;
  }
}

.valuation__polygon {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 70px;
  transform: rotate(30deg);
  z-index: -9;
  @media (max-width: 900px) {
    left: 80px;
    top: -20px;
    width: 100px;
  }
  .figure {
    fill: $color-darkest;
  }
}

.valuation__triangle {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 70px;
  transform: rotate(-4deg);
  z-index: -5;
  @media (max-width: 900px) {
    bottom: -40px;
    right: 80px;
    width: 100px;
  }
  .figure {
    fill: $color-light;
    opacity: 0.2;
  }
}

.footer__triangle {
  position: absolute;
  z-index: -1;
  &--transparent {
    bottom: -150px;
    left: -160px;
    width: 150px;
    transform: rotate(-10deg);
    .figure {
      fill: #EBE8FB;
    }
  }
  &--small {
    top: 0;
    right: 100px;
    width: 70px;
    transform: rotate(35deg);
    .figure {
      fill: $color-light;
    }
  }
}

.footer__polygon {
  position: absolute;
  &--transparent {
    bottom: -150px;
    right: -160px;
    width: 150px;
    transform: rotate(-10deg);
    .figure {
      fill: #EEF9F3;
    }
  }
  &--medium {
    position: absolute;
    top: 10px;
    left: 140px;
    width: 80px;
    transform: rotate(10deg);
    z-index: -1;
    @media (max-width: 930px) {
      left: 80px;
    }
    .figure {
      fill: $color-green;
    }
  }
  &--small {
    bottom: -120px;
    right: 200px;
    width: 70px;
    transform: rotate(-10deg);
    z-index: -1;
    .figure {
      fill: $color-darkest;
    }
  }
}



