
@mixin heading {
  font-family: $main-font-bold;
  font-size: 40px;
  color: $color-reset;
  margin: 50px 0 20px 0;
  padding-top: 20px;
  @content;
}

@mixin text {
  color: $color-gray;
  margin-bottom: 20px;
  @content;
}

